* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

.header-container {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #f7fad3;
}

.main {
  margin-bottom: auto;
}

main {
  display: block;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #f7fad3;
}

.img-rounded {
  height: 200px;
  width: 200px;
  border-radius: 10%;
  transition: all 0.7s ease-in;
}

.img-rounded:hover {
  border: 2px solid #c7bb27;
  box-shadow: 0 0 5px #c7bb27;
  transform: scale(1.3);
}

.nav-list {
  display: flex;
  justify-content: center;
  list-style: none;
}

.nav-link {
  position: relative;
  text-decoration: none;
  color: black;
}

.nav-link:hover {
  color: blue;
}

.nav-item {
  padding: 0 20px;
  font-weight: 700;
  color: black;
  line-height: 60px;
  font-size: 16px;
  width: 100%;
  text-decoration: none;
  transition: 0.9s ease;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 1px;
  background-color: blue;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease;
}

.nav-item:hover .nav-link::after {
  transform: scaleX(1);
}

.nav-item:hover {
  color: blue;
  transform: translateY(-2px);
  transition: box-shadow 0.9s ease, transform 0.9s ease;
  transform: scale(1.3);
}

.section-profile {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 50px 50px 50px 50px;
  margin: 0;
  border-bottom: #c7bb27;
  border-top: 1px solid #000000;
  box-shadow: 0 0 7px #c7bb27;
}

.main-title {
  position: relative;
  font-family: 'Libre Baskerville', serif;
  padding: 0;
  margin-bottom: 20px;
  color: #000000;
  font-size: 28px;
  font-weight: 400;
  letter-spacing: 15px;
  line-height: 30px;
  word-spacing: 30px;
  margin-right: 200px;
}

.main-title::before {
  content: "";
  position: absolute;
  bottom: -50px;
  left: 50%;
  margin-left: -25%;
  width: 240px;
  border-bottom: 1px solid #c7bb27;
}

.section-subtitle {
    margin-top: 100px;
    color: #535353;
    line-height: 30px;
    font-weight: 400;
    letter-spacing: 6px;
    margin-left: 40px;
}